<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<%= link_to "Edit", edit_task_path%>
<%= link_to "Delete", delete_task_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%= link_to "Task List", task_list_path %>
